:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --verdeprimario: #91C788;
    --verdeoscuro: #52734D;
    --verdeclaro: #DDFFBC;
    --claro: #FEFFDE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

.title {
    text-align: center;
    color: var(--verdeoscuro);
}

.title span {
    font-size: 2rem;
    color: var(--verdeprimario);
}

.nav-bg {
    background-color: var(--verdeoscuro);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .main-navigation {
        flex-direction: row;
        justify-content: space-around;
    }
}

.main-navigation a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 4rem;
}

.main-navigation a:hover {
    background-color: var(--verdeprimario);
    color: var(--oscuro);
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

}
